@page "/"

<PageTitle>Index</PageTitle>

<div class="container" style="padding: 1rem;">
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <video autoplay muted style="width: 512px; height: 288px;" controls @ref=videoElRef></video>
    </div>
    <div>
        <ul>
            @foreach (var magnet in knownMagnets)
            {
                <li><a href="javascript:;" onclick="@(()=>_ = LoadTorrent(magnet.Value))">@magnet.Key</a></li>
            }
        </ul>
    </div>
    <div>
        <div>
            Magnet:<br />
            <input style="width: 1024px;" type="text" @bind=@torrentId @oninput="OnInputEvent"></input>
        </div>
        <div>
            <button onclick="@(()=> _ = LoadTorrent())">Load</button>
        </div>
    </div>

    <div>
        WebTorrent version: @WebTorrentService.WebTorrentLibraryVersionActual
    </div>
    <div>
        WebTorrent Service Worker: @(WebTorrentService.ServiceWorkerEnabled ? "Online" : "Offline")
    </div>
    <div>
        Hash: @TorrentHash
    </div>
    <div>
        Largest MP4: @(largestMp4File == null ? "" : largestMp4File.Name)
    </div>
    <div>
        @StatusMsg
    </div>
    <div>
        @if (Torrent != null)
        {
            <table style="width: 1024px;">
                <tr>
                    <th>Progress</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Path</th>
                </tr>
                @if (TorrentFiles != null)
                {
                    foreach (var f in TorrentFiles)
                    {
                        var isPlaying = largestMp4File != null && f.Path == largestMp4File.Path;
                        <tr style="font-weight: @(isPlaying ? "bold" : "normal");">
                            <td>@(Math.Round(f.Progress * 100, 2)) %</td>
                            <td>@f.Name</td>
                            <td>@ToBytesCount(f.Length)</td>
                            <td>@f.Path</td>
                        </tr>
                    }
                }
            </table>
        }
    </div>
</div>
